body{
    background-color: chocolate
}

.title{
    font-size: 2em;
    color: black;
    display: flex;
    
}
.logo{
    width: 300px;
    height: 300px;
}
.cuadrados{
    border: 2px;
    width: 85vw;
    padding-top: 2%;
}
.cards{
    border: 2px solid black;
    width: fit-content;
    padding: 2em 2em 2em 2em;
    border-radius: 10%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
.cards:hover{
    background-color: aliceblue;
}
#cards-conteiner{
    
    width: 85vw;
    margin: 2em;
    margin-top: 1.5em;

    border-radius: 1%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#span{
    font-size: 1em;
    color: aqua;
    display: flex;
    
}
#principal{
    font-size: 3em;
    color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#title4{
    font-size: 2ems;
    color: aqua;
}
#box{
   
    width: 50vw;
    margin: auto;
    padding: 5em;
}